buildinfo
AUTHORS.gz
ChangeLog.gz
/INSTALL
Makefile
Makefile.in
man/*.1
man/fr/*.1
NEWS.gz
README.gz
aclocal.m4
artwork/idjc.png
autom4te.cache/*
c/.deps/
c/.libs/
c/*.lo
c/idjc.la
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
idjc
idjc.in
idjc.desktop
idjc.desktop.in
idjc.appdata.xml
idjc.appdata.xml.in
python/*.pyc
python/__init__.py
python/__init__.py.in
install-sh
libtool
ltmain.sh
missing
py-compile
stamp-h1
config.h.in~
*.tar.gz
doc/*
m4/*
config.guess
config.rpath
config.sub
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/idjc.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/*.gmo
po/*~
