m4/lt*.m4
m4/libtool.m4
autom4te.cache/
examples/.deps/
examples/.libs/
examples/example
examples/example.o
examples/nonblocking
examples/nonblocking.o
include/shoutidjc/shout.h
shout-idjc.pc
src/.deps/
src/.libs/
src/codec_opus.lo
src/codec_opus.o
src/codec_speex.lo
src/codec_speex.o
src/codec_theora.lo
src/codec_theora.o
src/codec_vorbis.lo
src/codec_vorbis.o
src/common/avl/.deps/
src/common/avl/.libs/
src/common/avl/libiceavl.la
src/common/avl/libiceavl_la-avl.lo
src/common/avl/libiceavl_la-avl.o
src/common/httpp/.deps/
src/common/httpp/.libs/
src/common/httpp/libicehttpp.la
src/common/httpp/libicehttpp_la-encoding.lo
src/common/httpp/libicehttpp_la-encoding.o
src/common/httpp/libicehttpp_la-httpp.lo
src/common/httpp/libicehttpp_la-httpp.o
src/common/net/.deps/
src/common/net/.libs/
src/common/net/libicenet.la
src/common/net/libicenet_la-resolver.lo
src/common/net/libicenet_la-resolver.o
src/common/net/libicenet_la-sock.lo
src/common/net/libicenet_la-sock.o
src/common/thread/.deps/
src/common/thread/.libs/
src/common/thread/libicethread.la
src/common/thread/libicethread_la-thread.lo
src/common/thread/libicethread_la-thread.o
src/common/timing/.deps/
src/common/timing/.libs/
src/common/timing/libicetiming.la
src/common/timing/libicetiming_la-timing.lo
src/common/timing/libicetiming_la-timing.o
src/format_mpeg.lo
src/format_mpeg.o
src/format_ogg.lo
src/format_ogg.o
src/format_webm.lo
src/format_webm.o
src/libshout-idjc.la
src/proto_http.lo
src/proto_http.o
src/proto_icy.lo
src/proto_icy.o
src/proto_roaraudio.lo
src/proto_roaraudio.o
src/proto_xaudiocast.lo
src/proto_xaudiocast.o
src/queue.lo
src/queue.o
src/shout.lo
src/shout.o
src/tls.lo
src/tls.o
src/util.lo
src/util.o
libshout-idjc-*/
